<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBgoNAIjlbepZJclwG6sgHUY8itxYzmnu8</string>
	<key>GCM_SENDER_ID</key>
	<string>297433248246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.breakaway.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>breakaway-f7405</string>
	<key>STORAGE_BUCKET</key>
	<string>breakaway-f7405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297433248246:ios:20a8ecc8ca7b5e098517d7</string>
</dict>
</plist>